# Make sure we keep only xci files in repo ip hdl subfolder
hdl/*/*
# Ignore 'generated_ip' directory inside repo/ip
!hdl/*/
!hdl/*/*.xci
!hdl/*/*.xml
!hdl/*/*.vho
!hdl/*/*.veo
!hdl/*/*.patch
!hdl/*/*.tcl